.nav-sidebar {
  height: 100%;
}

.homeContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 10px;
  background-color: #f9fafb;
}

.mainHomeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: transparent;
}

.mainHomeContainer #welcomeHome {
  font-size: 2.5rem;
}

.sidebarHomeContainer {
  width: 250px;
  border-left: 1px solid #e5e7eb;
  background-color: #ffffff;
}